

.emailList{
  flex: 1;
  overflow: scroll; /*make the whol email list able to scroll up and down*/
  padding-left: 20px;

}


/* Hide scrollbar for IE, Edge and Firefox */
  .emailList {
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
  } 


.emailList::-webkit-scrollbar {
  display: none;
}



.emailList_settings{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom:1px solid whitesmoke;
  background-color: white;
  z-index: 999 ;
  padding-right: 10px;
}

.emailList_sections{
  display: flex;
  position: sticky;
  top: 0;
  border-top: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}


.emailList_list {
  padding-bottom: 20px;
}


.section{
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: gray;
  border-width: 0 !important;
}

.section-selected{
  background-color: whitesmoke;
  border-width: 3px !important;
}










.section{
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: gray;
  border-width: 0 !important;
}

.section-selected{
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section:hover{
  background-color: whitesmoke;
 
}

.section > h4{
  font-size: 14px;
  margin-left: 15px;
}
