.login{
  display: grid;
  background-color: white;
  place-items: center;
  height: 100vh;
}

.login_container{
  display: flex;
  flex-direction: column;
}

.login_container > img {
  object-fit: cover;
  height: 200px;
  padding-bottom: 50px;

}